
* {
    font-family: Helvetica, Arial,  sans-serif ;
    margin: 10px;
}

#root{
    margin: 0px;
    padding: 0px;
}

html, body{
    margin: 0px;
    padding: 0px;
    height: 100vw;
    width: 100vw;
}

main{
    width: 100%;
}

.mt-1 {
    margin-top: 5px;
}

.mt-5 {
    margin-top: 20px;
}

.mb-1{
    margin-bottom: 20px;
}

.mb-5 {
    margin-bottom: 20px;
}

.pointer{
    cursor: pointer;
}